body {
  box-sizing: border-box
}

.app {
  padding-top: 70px;
}

.navbar-brand {
  padding: 0px;
  font-size: 25px;
  width: 250px;
}


.navbar-brand > img {
  height: 50px;
  display: inline-block;
}

.list-group-item {
  height: 100px;
  margin-top: 30px;
}

.arrivalUpdate-enter {
  opacity: 0.01;
}

.arrivalUpdate-enter.arrivalUpdate-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.arrivalUpdate-leave {
  opacity: 1;
}

.arrivalUpdate-leave.arrivalUpdate-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
